<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @product.category.humanize %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price, precision: 2, delimiter: ",") %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
